{% extends "proj_base.html.twig" %}

{% block title %}MVC Project{% endblock %}

{% block main %}
    <div class="proj-api-container">
        <h3 class="h-api">API</h3>
        <div class="proj-api-links">
            <div class="api-forms container1">
                <figcaption class="proj-api-fig">Hitta startkort utifrån deras ranking 1-169.</figcaption>
                <form id="cardrank-form" class="api-form" method="post" action="{{ path('proj_api_card_rank') }}">
                    <button class="api-button" type="submit">Sök</button>
                    <input class="api-input" type="number" name="rank" min="1" max="169">
                </form>
            </div>
            <div class="api-forms container2">
                <figcaption class="proj-api-fig">Se spelardata för nuvarande spel.</figcaption>
                <form id="playerdata-form" class="api-form" method="get" action="{{ path('proj_api_player_data') }}">
                    <button class="api-button" type="submit">Spelardata</button>
                </form>
            </div>
            <div class="api-forms container3">
                <figcaption class="proj-api-fig">Se speldata för nuvarande spel.</figcaption>
                <form id="gamedata-form" class="api-form" method="get" action="{{ path('proj_api_game_data') }}">
                    <button class="api-button" type="submit">Speldata</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}