{% extends "proj_base.html.twig" %}

{% block title %}MVC Project{% endblock %}

{% block main %}
<div class="outer-flop-container">
    <div class="proj-flop-container">
    </div>
    {% for player in queuePlayers %}
        {% if player.wallet is defined %}
            {% include 'proj/proj-player.html.twig' %}
        {% else %}
            {% include 'proj/proj-computer.html.twig' %}
        {% endif %}
    {% endfor %}
    <div class="proj-community-container">
        <div class="community-cards">
            {% for card in community %}
                <img class="community-card" src="{{ asset('../img/cards/' ~ card ~ '.png') }}">
            {% endfor %}
        </div>
    </div>
    {% include 'proj/proj-message.html.twig' %}
    <div class="proj-pot-container">
        <p class="pot-size">Pott: ${{ pot }}</p>
    </div>
    {% include 'proj/proj-action-buttons.html.twig' %}
</div>
{% endblock %}