/* Style sheet for project buttons */

.p-button {
    font-family: $proj-font-family-paragraph;
    font-size: $base-font-size * 0.8;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 0.2rem;
    line-height: $base-line-height;
    width: fit-content;
    border: 1px solid #333;
    background-image: linear-gradient(#fff, darken(#fff, 30%));
    margin-top: $magic-number;
}

.p-button.call {
    font-family: $proj-font-family-tables;
    background-image: linear-gradient(#266e3d, darken(#abe69e, 10%));
    filter: grayscale(20%);
}

.p-button.raise {
    font-family: $proj-font-family-tables;
    background-image: linear-gradient(#6e5c26, darken(#e6cf9e, 10%));
    filter: grayscale(20%);
    color: #000;
    text-decoration: none;
}

.p-button.fold {
    font-family: $proj-font-family-tables;
    background-image: linear-gradient(#6e2626, darken(#e6a69e, 10%));
    filter: grayscale(20%);
    color: #000;
    text-decoration: none;
}

.p-button.start {
    width: 17%;
    line-height: $base-line-height * 1.4;
    color: #000;
    font-family: $proj-font-family-paragraph;
    font-size: $base-font-size * 0.8;
}

.p-button.check {
    font-family: $proj-font-family-tables;
    background-image: linear-gradient(#39648f, darken(#9ebee6, 5%));
    filter: grayscale(20%);
}

.api-button {
    font-family: $proj-font-family-paragraph;
    font-size: $base-font-size;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 0.2rem;
    line-height: $base-line-height;
    width: 50%;
    border: 1px solid #333;
    background-image: linear-gradient(#fff, darken(#fff, 30%));
    margin-top: $magic-number * 0.3;
}

.rank-button {
    background-image: linear-gradient(#39648f, darken(#9ebee6, 20%));
    filter: grayscale(30%);
    color: rgb(255, 233, 203);
    font-family: $proj-font-family-tables;
}

.player-button {
    background-image: linear-gradient(#6e5c26, darken(#e6cf9e, 20%));
    filter: grayscale(30%);
    color: rgb(255, 233, 203);
    font-family: $proj-font-family-tables;
}

.game-button {
    background-image: linear-gradient(#4e6e26, darken(rgb(186, 204, 156), 20%));
    filter: grayscale(30%);
    color: rgb(255, 233, 203);
    font-family: $proj-font-family-tables;
}

.message-button {
    background-image: linear-gradient(#6e2626, darken(#e6a69e, 20%));
    filter: grayscale(30%);
    color: rgb(255, 233, 203);
    font-family: $proj-font-family-tables;
}

.combo-button {
    background-image: linear-gradient(#2e266e, darken(#b79ee6, 20%));
    filter: grayscale(40%);
    color: rgb(255, 233, 203);
    font-family: $proj-font-family-tables;
}

.the-link {
    grid-column: 9 / 10;
    grid-row: 9 / 10;
    width: 80px;
    filter: grayscale(30%);
    background-image: linear-gradient(#83afda, darken(#9ebee6, 20%));
    font-family: $proj-font-family-tables;
}

.the-wallet-link {
    grid-column: 10 / 12;
    grid-row: 9 / 10;
    width: 80px;
    margin-left: 60px;
    filter: grayscale(30%);
    background-image: linear-gradient(#88b94c, darken(rgb(186, 204, 156), 20%));
    font-family: $proj-font-family-tables;
}
