/* Style sheet for flash messages regarding books (ORM) */

.alert {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
}

.alert p {
  margin: 0;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.flash-warning {
    margin-top: 20px;
    background-color: #a3eaed;
    color: #000;
    filter: grayscale(20%);
    font-family: $proj-font-family-message;
    font-size: small;
    border-radius: 3px;
}

