/* Style sheet for project landing page */

.outer-preflop-container {
    display: grid;
    grid-template-columns: repeat(12, 8.34%);
    grid-template-rows: repeat(2, 50px) repeat(8, 8.5%) repeat(2, 50px);
    width: 100%;
    height: 100%;
}

.proj-preflop-container {
    grid-column: 1 / 13;
    grid-row: 3 / 11;
    border-radius: 60px;
    box-shadow: $box-shadow-main;
    background-color: #133c1c;
    border: $proj-border-header-footer;
}
