/* Style sheet for project variables */

// Font families
$proj-font-family-header-heading: 'Monoton', cursive;
$proj-font-family-headings: 'Lora', serif; // BYT!
$proj-font-family-paragraph: 'Scope One', serif; // BYT!
$proj-font-family-messages: 'Times New Roman'; // BYT!
$proj-font-family-navbar: 'Bungee Shade', cursive;
$proj-font-family-small: 'Times New Roman'; // BYT!

// Font colors
$proj-font-color-header-heading: #ff3;
$proj-font-color-headings: #000;
$proj-font-color-paragraphs: #000; //BYT
$proj-font-color-messages: #000; //BYT
$proj-font-color-navbar: #b7b6b0;
$proj-font-color-small: #000; //BYT

// Borders
$proj-border-header-footer: 2px solid #beb88f; //BYT
$proj-border-page-container: 3px solid #fff; //BYT
$proj-border-messages: 3px solid #fff; //BYT
$proj-border-player-info: 3px solid #fff; //BYT
$proj-border-form-div: 3px solid #fff; //BYT

// Font sizes
$proj-font-size-h1: $base-font-size * 3; //BYT
$proj-font-size-h2: $base-font-size * 2; //BYT
$proj-font-size-h3: $base-font-size * 1.35; //BYT

// Background colors
$proj-background-main: #333; //BYT

// Widths and heights
$proj-max-width: 85rem;
$proj-form-width: 20rem;