/* Style sheet for project database page */

.proj-database-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding: $magic-number;
    // width: 100%;
    min-height: 66vh;
    border-radius: $proj-container-border-radius;
    box-shadow: $box-shadow-main;
    // background-color: #133c1c;
    border: $proj-border-header-footer;
}

.proj-database-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

.h-database {
    color: antiquewhite;
    font-family: $proj-font-family-headings;
    font-size: $base-font-size * 1.4;
    margin: 0;
}

.database-er-image-container {
    align-self: center;
}

.database-er-image {
    border-radius: 20px;
    box-shadow: $box-shadow-main;
    margin-top: $magic-number;
    margin-bottom: $magic-number;
}

.h-table {
    color: antiquewhite;
    font-family: $proj-font-family-headings;
    font-size: $base-font-size * 1.1;
    margin: 0;
}

.proj-database-text {
    p {
        color: antiquewhite;
        font-family: $proj-font-family-paragraph;
    }
}
