/* Style sheet for project api page */

.proj-api-container {
    padding: $magic-number;
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    height: 100%;
    border-radius: 10%;
    box-shadow: $box-shadow-main;
    // background-color: #133c1c;
    border: $proj-border-header-footer;
}

.h-api {
    color: antiquewhite;
    font-family: $proj-font-family-headings;
    font-size: $base-font-size * 1.4;
    margin: 10px;
}

.proj-api-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    figcaption {
        color: rgb(251, 242, 230);
        font-family: $proj-font-family-message-heading;
        font-size: $base-font-size;
        text-align: center;
        line-height: 30px;
        letter-spacing: 0.5px;
    }
}

.top-row {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}

.middle-row {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}

.bottom-row {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.container2 {
    width: 80%;
}

.container3 {
    width: 80%;
}

.container1 {
    width: 100%;
}

.container4 {
    width: 100%;
}

.container5 {
    width: 100%;
}
.face-down-cards {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row, wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
}
