/* Style sheet for project stu container */

.stu-container {
    grid-column: 2 / 5;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    align-items: center;
    justify-self: center;
}

// STU CONTAINER CONTENT
.stu-head {
    grid-column: 3 / 10;
    grid-row: 1 / 3;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    border: $proj-border-header-footer;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-self: center;

    p {
        font-size: $base-font-size * 1.3;
        margin: 0;
        width: 100%;
        align-self: center;
        justify-self: center;
        font-family: $proj-font-family-message-board-heading;
    }

    .smaller {
        font-size: $base-font-size * 0.8;
        font-family: $proj-font-family-message;
    }

    .underline {
        text-decoration: underline;
    }
}

.stu-bet-container {
    grid-column: 2 / 5;
    grid-row: 5 / 6;
    height: fit-content;
    align-self: first baseline;
    justify-self: center;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    height: fit-content;

    .smaller {
        font-size: $base-font-size * 0.8;
        margin: 0;
    }
}

.poker-stu-info {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    padding: $magic-number * 0.3;
    background-color: #716b6b;
    // box-shadow: $box-shadow-main;
    border-radius: 0.2rem;
    height: fit-content;
    width: 170px;
    border: $proj-border-player-info;
    align-self: center;
    justify-self: center;
}

.dealer-chip-stu-container {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    justify-self: center;
}

.proj-card-stu-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    grid-column: 3 / 10;
    grid-row: 3 / 5;
    justify-self: center;
}