/* Style sheet about page */

.about-container {
    display: grid;
    max-width: 64rem;
    grid-template-columns: repeat(3, auto) 250px;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    margin: 0 auto;
}

.about-heading {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.about-text {
    grid-column: 1 / 4;
    grid-row: 2 / 5;
}

.image-container {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
}

figcaption {
    line-height: $base-line-height * 2.5;
}

.about-links {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    border-left: 1px solid #333;
    height: fit-content;
}

.links {
    font-size: $base-font-size * 1.4;
}
