/* Style sheet for all books page */

.books-container {
    display: flex;
    flex-flow: row wrap;
    background-color: #f6f1e2;
    margin-top: $magic-number * 0.2;
    padding: $magic-number;
    border: 2px double #333;
    justify-content: space-around;
}

.book-container {
    // display: flex;
    // flex-direction: column;
    text-align: center;
    margin: 20px;
}

.book-image {
    width: 200px;
    box-shadow: $box-shadow-header;
}

.button-container {
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
    gap: 20px;
    margin: 0 auto;
}

.goto-main-menu,
.goto-create-book {
    margin-top: $magic-number;
}
