/* Style sheet for deck page */

.deck-container {
    display: flex;
    flex-direction: column;
}

.deck-draw {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: $magic-number;
}

.draw-count {
    text-align: center;
}

.message {
    text-align: center;
    color: rgb(117, 9, 9);
}

.draw-card {
    width: 10em;
    margin: 5px;
    filter: grayscale(15%);
}

.draw-number-card {
    width: 8em;
    margin: 5px;
    filter: grayscale(15%);
}

.flash-success {
    padding: 0.5em;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.flash-error {
    padding: 0.5em;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}