/* Style sheet for delete landing page */

.one-book-container.delete {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
}

.book-image-one.delete {
    width: 100%;
}

.book-info.delete {
    width: 25%;
    margin-right: 5rem;
}

.book-image-container.delete {
    width: 320px;
    box-shadow: none !important;
}

.confirm-delete {
    background-color: rgb(194, 58, 58);
    color: $font-color-nav;
    width: fit-content;
    padding: $magic-number * 0.5;
    margin: 0 auto;
    margin-top: 20px;
}

.confirm-delete-buttons {
    width: 20%;
}
