/* Style sheet for delete landing page */

.book-image-one.delete {
    width: 100%;
}

.book-image-container.delete {
    width: 400px;
    box-shadow: none !important;
}

.confirm-delete {
    background-color: rgb(124, 16, 16);
    color: $font-color-nav;
    width: fit-content;
    padding: $magic-number * 0.2;
    margin: 0 auto;
    margin-top: 20px;
    
}