/* Style sheet for metrics page */

.metrics-container {
    margin: 0 $magic-number * 2;
}

.left {
    text-align: left;
    font-size: $base-font-size * 1.2;
}

.scrutinizer-badges {
    display: flex;
    flex-direction: row;
}

.badge {
    margin-right: 1rem;
}

.analysis.image {
    text-align: center;
}

.analysis-image {
    box-shadow: $box-shadow-main;
    margin-bottom: $magic-number;
}

.metrics-h1 {
    width: 70%;
}

ul li {
    list-style: disc;
    font-family: $font-family-paragraph;
    line-height: $base-line-height;
}

ol li {
    font-family: $font-family-paragraph;
    line-height: $base-line-height;
}

.wider {
    width: fit-content;
    text-align: left;
    margin-top: $magic-number;
}


blockquote {
    font-family: $font-family-paragraph;
}