{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block main %}
    <div class="lucky-container">
        <div class="lucky-heading">
            <h1 class="lucky-1">Lucky</h1>
        </div>
        <div class="lucky-text">
            <p>Uppdatera sidan och se om du lyckas 채ndra elefantens f채rg till din favoritf채rg.</p>
            <p>Om du har otur kan elefanten bli utmattad.</p>
        </div>
        <div class="lucky-image">
            <img class={{ class }} src="{{ asset('img/php.jpg') }}" alt="php elephant" width="300">
        </div>
        {% if (class is same as "lose") %}
            <div class="dead">
                <p>Enough s채ger elefanten... *snyft</p>
            </div>
        {% endif %}
    </div>
{% endblock %}