{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block main %}
    <h1>Report</h1>
    <section id="kmom01">
        <h2>Kmom01</h2>
        <p>Text</p>
    </section>
    <section id="kmom02">
        <h2>Kmom02</h2>
        <p>Text</p>
    </section>
    <section id="kmom03">
        <h2>Kmom03</h2>
        <p>Text</p>
    </section>
    <section id="kmom04">
        <h2>Kmom04</h2>
        <p>Text</p>
    </section>
    <section id="kmom05">
        <h2>Kmom05</h2>
        <p>Text</p>
    </section>
    <section id="kmom06">
        <h2>Kmom06</h2>
        <p>Text</p>
    </section>
    <section id="kmom10">
        <h2>Kmom10</h2>
        <p>Text</p>
    </section>
{% endblock %}